html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    min-height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: visible !important;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-areas: "header content";
}

header {
    grid-area: header;
    height: 100%;
    background-color: #007bff;
}

nav {
    position: sticky;
    position: -webkit-sticky;
    top: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#profielPic {
    border-radius: 50%;
    width: 15%;
    max-height: 20%;
    margin-bottom: 20px;
    align-self: center;
}

.social {
    color: black;
}

.active {
    font-weight: bold;
}

.div {
    height: 1000px;
}

#projectsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "1 2 3"
                         "4 5 6";
    grid-gap: 8px;
}

#projectsContainer div {
    background-color: #f1f0f0;
    padding: 5px;
    border-radius: 5px;
}

#projectsContainer:nth-child(1) {
    grid-area: 1;
}

#projectsContainer:nth-child(2) {
    grid-area: 2;
}

#projectsContainer:nth-child(3) {
    grid-area: 3;
}

#projectsContainer:nth-child(4) {
    grid-area: 4;
}

#projectsContainer:nth-child(5) {
    grid-area: 5;
}

#projectsContainer:nth-child(6) {
    grid-area: 6;
}

img {
    max-width: 100%;
    width: 100%;
    height: 250px;
}

#content {
    margin-right: 8px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #007bff;
}