main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div {
    display: flex;
    flex-direction: column;
}

main div div {
    text-align: center;
}

main div div a {
    padding: 20px;
    background-color: rgb(31,75,240);
    box-shadow: 0 5px 0 rgb(31,75,200);
    position: relative;
}

main div div a:active {
    box-shadow: none;
    top: 5px;
}

main div div:nth-of-type(2) a {
    margin-top: 20px;
}